<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://192.168.108.181:3306/enterprise_nas"/>
        <property name="username" value="enterprise_nas"/>
        <property name="password" value="kx_nas_#$%"/>
      </dataSource>
    </environment>
  </environments>
  <mappers>
    <mapper resource="mapper/NasUserMapper.xml"/>
  </mappers>
</configuration>
